.header{
   height: 55px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   position:fixed;
   top:0;
   left:0;
   right:0;
   z-index:100;
   background-color: white;
   border-bottom-width:1px ;
   border-bottom-style:solid ;
   
  
   border-bottom-color: rgb(228,228,228);
}
.left-section{
   
   display:flex;
   align-items: center;
}
.hamburger-menu{
   height:25px;
   margin-left: 20px;
   margin-right: 20px;
   cursor: pointer;
}
.youtube-logo{
   height:25px;
   cursor: pointer;
}
.middle-section{
   
   display:flex;
   align-items: center;
   flex:1;
   margin-left:70px;
   margin-right: 35px;
   max-width: 500px;
}
.right-section{
   
   display:flex;
   align-items: center;
   width:200px;
   justify-content: space-between;
   flex-shrink: 0;
   margin-right: 20px;
}
.search-bar::placeholder{
   
   font-size: 15px;
}
.search-bar{
   flex:1;
   padding-left: 10px;
   height:36px;
   font-size: 16px;
   border:1px solid rgb(192,192,192);
   border-radius: 2px;
   

   box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
  width:0;
  
  
   

}
.search-button{
   height:39px;
   width:65px;
   border:1px solid rgb(192,192,192);
   margin-right: 10px;
   border-radius: 2px;
   background-color: rgb(240,240,240);
}
.search-image{
   height:25px;
   margin-top: 4px;
   margin-left: -1px;
   
}
.voice-search-button{
   height:40px;
   width:40px;
   border-radius: 50px;
   border:none;
   background-color: rgb(245,245,245);

}
.voice-search-image{
   height:25px;
   margin-top:4px;
   
}

.upload{
   height:25px;
   
}
.youtube-apps{
   height:25px;
   
   
}
.notifications{
   height:25px;
   
   
}
.channelpic1{
   height:30px;
   border-radius: 10px;
   
   cursor: pointer;
   
}
.notification-container{
   position:relative;
}

.count{
   
   font-weight: 500;
   font-size: 11px;
   background-color: rgb(200,0,0);
   color:white;
   position:absolute;
   top:-2px;
   left:11px;
   border-radius: 10px;
   padding-left: 5px;
   padding-top: 2px;
   padding-right: 5px;
   padding-bottom: 2px;
}
.search-button,.voice-search-button,.upload-container,.youtubeapps-container,.notification-container{
   display: flex;
   justify-content: center;
   align-items: center;
   position:relative;
   cursor: pointer;
  
}
.search-button .absolute,.voice-search-button .absolute,.upload-container .absolute,.youtubeapps-container .absolute,.notification-container .absolute{
   
   font-size: 12px;
   background-color: grey;
   color:white;
   padding-top: 8px;
   padding-left: 4px;
   padding-right: 4px;
   padding-bottom: 8px;
   border-radius: 2px;
margin-top: 80px;
opacity:0;
transition:opacity 0.15s;
white-space: nowrap;
pointer-events: none;
   position:absolute;

}
.search-button:hover .absolute,.voice-search-button:hover .absolute,.upload-container:hover .absolute,.youtubeapps-container:hover .absolute,.notification-container:hover .absolute{
   opacity:1;
}
